.container {
  width: 320px;
  margin: 0px auto;
}

.container .form {
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  color: rgb(158, 158, 158);
  padding: 10px;
  width: 320px;
}

.container .form .containerLI {
  padding: 5px 0px;
}

.container .form .containerLI label {
  width: 250px;
  font-size: 14px;
}

.container .form .containerLI input {
  width: 320px;
  border-radius: 5px;
  margin-top: 5px;
  height: 20px;
}

.terminos {
  font-size: 12px;
}

button:disabled {
  background-color: #68b3f1;
}

button {
  padding: 5px 30px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: blue;
}

.btn {
  width: 28%;
  padding: 12px;
  cursor: pointer;
}

.is-invalid {
  border: 1px solid red;
}

.text-danger {
  display: block;
  margin-left: 5%;
  padding-top: 2px;
  color: red;
}